{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Product #{{ product.id }}</h1>
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    {% if product.image %}
        <p>
            <img style="height: 250px" src="{{ product.image.url }}" alt="product photo">
        </p>
    {% else %}
        <p>
            <img style="height: 250px" src="{% static 'images/default.png' %}" alt="default_photo">
        </p>
    {% endif %}
{% endblock %}